<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="widhimp.manajemenproyekreparasi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Manajemen Proyek Reparasi"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SigninActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.ListkapalActivity"
            android:label="Daftar Kapal"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Activity.TambahkapalActivity"
            android:label="Tambah Kapal"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Activity.EditkapalActivity"
            android:label="Scope of Work"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Komunikasi.KomunikasiActivity"
            android:label="Komunikasi Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Komunikasi.KomunikasiTambah"
            android:label="Tambah Komunikasi"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".Komunikasi.KomunikasiEdit"
            android:label="Detail Komunikasi"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".RepairList.RepairlistActivity"
            android:label="Repair List"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".RepairList.RepairListDetail"
            android:label="Repair List Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.WaktuProyek"
            android:label="Waktu Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.LamaProyek"
            android:label="Lama Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".WaktuProyek.PenjadwalanProyek"
            android:label="Penjadwalan Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.ProgresProyek"
            android:label="Progres Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".RepairList.RepairListMenu"
            android:label="Repair List"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".RepairList.TambahPekerjaan"
            android:label="Tambah Pekerjaan"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".WaktuProyek.PenjadwalanProyekDetail"
            android:label="Penjadwalan Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.PenjadwalanProyekEdit"
            android:label="Penjadwalan Proyek Detail"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".Activity.ShipIdentity"
            android:label="Ship&apos;s Identity"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.ProgresProyekDetail"
            android:label="Progres Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.ProgresProyekEdit"
            android:label="Progres Proyek Detail"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".SdmProyek.SdmProyek"
            android:label="SDM Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmGalangan"
            android:label="SDM Galangan"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmGalanganDetail"
            android:label="SDM Galangan Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmSubcontractor"
            android:label="SDM Subcontractor"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmSubcontractorDetail"
            android:label="SDM Subcontractor Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmSubcontractorKoordinator"
            android:label="SDM Subcontractor Koordinator"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmSubcontractorAnggota"
            android:label="SDM Subcontractor Anggota"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmSubcontractorAreapekerjaan"
            android:label="SDM Subcontractor Area Pekerjaan"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.SdmPermintaan"
            android:label="Permintaan SDM"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".BiayaProyek.BiayaProyek"
            android:label="Biaya Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".BiayaProyek.BudgetProduksi"
            android:label="Budget Produksi"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".BiayaProyek.TerminPembayaran"
            android:label="Termin Pembayaran"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".BiayaProyek.TerminPembayaranDetail"
            android:label="Termin Pembayaran Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.MutuProyek"
            android:label="Mutu Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.Qaqc"
            android:label="QA / QC"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.Qaqc_detail"
            android:label="QA / QC Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.CheckList"
            android:label="Check List"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.CheckListDetail"
            android:label="Check List"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.CheckListEdit"
            android:label="Check List Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".ResikoProyek.ResikoProyek"
            android:label="Resiko Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".PengadaanMaterial.PengadaanMaterial"
            android:label="Pengadaan Material"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".PengadaanMaterial.MaterialTersedia"
            android:label="Material Tersedia"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".PengadaanMaterial.PermintaanMaterial"
            android:label="Permintaan Material"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".StakeholderProyek.Stakeholder"
            android:label="Stakeholder"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Inbox"
            android:label="Inbox"
            android:screenOrientation="portrait"
            android:theme="@style/TemaPesan" />
        <activity
            android:name=".Integrasi.UploadFille"
            android:label="Upload File"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.EstimasiSdm"
            android:label="Estimasi SDM"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".SdmProyek.EvaluasiKinerja"
            android:label="Evaluasi Kinerja"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".BiayaProyek.PembayaranJasa"
            android:label="Pembayaran Jasa"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".BiayaProyek.PembayaranMaterial"
            android:label="Pembayaran Material"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".StakeholderProyek.StakeholderDetail"
            android:label="Stakeholder Detail"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".KirimPesan"
            android:label="Kirim Pesan"
            android:screenOrientation="portrait"
            android:theme="@style/TemaPesan" />
        <activity
            android:name=".InboxDetail"
            android:label="Inbox Detail"
            android:screenOrientation="portrait"
            android:theme="@style/TemaPesan" />
        <activity
            android:name=".RepairList.ListTambahPekerjaan"
            android:label="List Tambah Pekerjaan"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".WaktuProyek.RekapProgresProyek"
            android:label="Rekap Progres Proyek"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".MutuProyek.RekapCheckList"
            android:label="Rekap Check List"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".RepairList.SurveyKapal"
            android:label="Survey Kapal"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".Search"
            android:label="Search"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".SdmProyek.ListPermintaanSdm"
            android:label="List Permintaan SDM"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Integrasi.Integrasi"
            android:label="Integrasi"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Integrasi.pmo.PmoDetail"
            android:label="PMO"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Integrasi.pmo.PmoTentang"
            android:label="Tentang PMO"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Integrasi.pmo.PmoTugas"
            android:label="Tugas PMO"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Integrasi.pmo.PmoFungsi"
            android:label="Fungsi PMO"
            android:screenOrientation="portrait"
            android:theme="@style/ListKapal" />
        <activity
            android:name=".Integrasi.pmo.PmoKontak"
            android:label="Kontak PMO"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".Integrasi.clas.ClasDetail"
            android:label="Class"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2" />
        <activity
            android:name=".Tampung"
            android:label="Ruang Lingkup"
            android:screenOrientation="portrait"
            android:theme="@style/Temaku2"></activity>
    </application>

</manifest>